*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Baskervville', serif;
}
p{
    font-family: 'ABeeZee', sans-serif;
    margin-bottom: 10px;
}
h3,h2{
    font-size: 36px;
}
p{
    font-size: 15px;
}
i{
    font-size: 16px;
}
img{
    max-width: 100%;
    margin-bottom: .5em;
}
.nav-wrapper{
    position: relative;
    height: 15vh;
    background: #fff;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 4fr 1fr;
}
.logo{
    display: inherit;
    justify-self: center;
    align-self: center;
    margin: 1em;
    border: 1px solid #444;
}
.news-popup{
    position: absolute;
    top: 50vh;
    left: 50vw;
    background: rgba(238, 238, 238, 0.63);
    width: 400px;
    height: 200px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #fff;
    transform: translateX(-50%) translateY(-50%);
}
.news-popup h3{
    background: #fff;
    padding: 1em;
    width: 80%;
    text-align: center;
}
.news-popup form{
    width: 80%;
}
.news-popup form input{
    border-radius: 12px;
    border: none;
    background: #fff;
    margin: .2em;

}
.hamburger{
    position: relative;
    width: 30%;
    height: 7px;
    background: #555;
    justify-self: center;
    align-self: center;
    margin: 1em;
    transform: rotateZ(90deg);
    border-radius: 12px;
    grid-column: 2/4;
    /* display: none; */
}
.hamburger::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background: #999;
    border-radius: 12px;
}
.hamburger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
    border-radius: 12px;
}
.hamburger::before{
    transform: rotateZ(45deg) translateY(-15px);
}
.hamburger::after{
    transform: rotateZ(-45deg) translateY(15px);
}
.main-grid-box{
    transition: all 1s;
}
.nav-wrapper > nav > ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper > nav ul a{
    color: #000;
    font-size: 1.5em;
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: absolute;
    width: 100%;
    height: 50vh;
    /* display: none; */
    top: 15vh;
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
}
.newsletter{
    grid-column: 4/5;
    align-self: center;
    justify-self: right;
    font-size: 1.5em;
    color: #000;

}
#home{
    background: #A38068;
}
#articles{
    background: #FFAB73;
    transform: translateY(-100%);
    transition:  all 2s;
    
}
#meditation{
    background: #F09355;
    transform: translateY(-200%);
    transition: all 2s;
}
/* #rituals{
    background: #67A0A3;
    transform: translateY(-300%);
} */
main{
    margin: 1em;
    grid-column: 2/4;
    display: none;
}
.mod{
    padding: 1em;
}
.mod em{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
}
.latest{
    border-top: 1px solid #333;
    margin-top: 1em;
}
.title{
    grid-column: 2/4;
    background: #fff;
    border-radius: 12px; 
    padding: 0 1em;
    
}
.title img{
    max-width: 100%;
}
.card-content p{
    margin-top: 1em;
}
.heal-btn{
    display: none;
}
.offerings{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6EDED;
}
.offerings:hover,
.offerings:focus,
.offerings:active{
    cursor: pointer;
}
.main-grid{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    background: #E6EDED;
    margin: 1em 0;
}
.main-grid a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    text-decoration: none;
    color: #F09355;
}
.main-grid img{
    max-width: 100%;
    /* width: 30%; */
}
.hr1{
    height: 5px;
    background: #FFAB73;
    border: none;
}
.hr2{
    height: 10px;
    background: #F09355;
    border: none;
}
.hr3{
    height: 15px;
    background: #A38068;
    border: none;
    border-radius: 12px 12px 0 0;

}
.hr4{
    height: 15px;
    background: #A38068;
    border: none;
    border-radius: 0 0 12px 12px;

}

.title > h2{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #000;
}

.heal-btn{
    margin: 1em;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    grid-column: 2/4;
}
.heal-btn > a{
    font-family: 'Allerta Stencil', sans-serif;
    background: #67A0A3;
    color: #E6EDED;
    padding: 1em;
    border-radius: 10px;
    text-decoration: none;
}
.daily{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    grid-column: 2/4;
}
.daily h2{
    position: absolute;
    top: 0;
}
.daily img{
    max-width: 100%;
    object-fit: contain;

}
.daily-color{
    display: grid;
    grid-template-columns: 1fr;
    /* margin: 1em; */
    border-radius: 12px;
    /* padding: 1em; */
    grid-column: 2/4;
}
.daily-color h2{
    text-align: center;
}
#personal-code{
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: 1fr;

}
form input{
    padding: 1em;
}
.daily-color form input{
    justify-self: center;
    align-self: center;
    width: 50%;
}
.daily-color form #button{
    margin-top: 1em;
    width: 51%;
    justify-self: center;
    align-self: center;
    border: none;
    background: #67A0A3;
    border-radius: 0 0 12px 12px;
    box-shadow: -7px -7px 25px 0 #fff, 7px 7px 25px 0 #000;
}
.color{
    border-radius: 12px;
    background: transparent;
    width: 100%;
    height: 50vh;
    margin-bottom: 1em;
    box-shadow: inset 7px 7px 15px #fff, inset -7px -7px 15px #000;
    
}
.daily-mantra{
    display: none;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    background: rgba(221, 221, 221, 0.267);
}
.mantra form #email-submit,
.mantra form #code-submit{
    margin: 1em 0;
    width: 51%;
    justify-self: center;
    align-self: center;
    border: none;
    background: #67A0A3;
    border-radius: 0 0 12px 12px;
    box-shadow: -7px -7px 25px 0 #fff, 7px 7px 25px 0 #000;
}
.mantra p{
    justify-self: center;
}
.message{
    color: #000;
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    
}
.foot1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.foot1 img{
    max-width: 100%;
    width: 30%;
}
.foot1 a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot1 a img{
    width: 50%;
}
.foot2{
    background: #fff;
}
.foot2 ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot2 ul li{
    list-style: none;
}
.foot2 ul li a{
    text-decoration: none;
    color: #A38068;
}
.foot2 ul li a:hover{
    cursor: pointer;
}
.success{
    background: #67A0A3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.success h1{
    font-size: 2.5em;
    color: #000;
}
.desk-logo{
    display: none;
}
.desk-nav{
    display: none;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 99;
}
.static{
    position: sticky;
    top: 10vh;
    z-index: 98;
}
.articles{
    padding: 1em;
}
.articles .card a{
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
}
.articles .card a:hover{
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#code-submit,
#color-mantra-btn{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    margin: 1em;
    background: radial-gradient(#555,  #ddd);
    box-shadow: -5px -5px 30px #fff, 5px 5px 30px #000;
}
.daily-vid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.daily-vid iframe{
    width: 100%; 
    /* height: 315px; */
}
.desktop{
    display: none;
}
/* media queries  */
@media screen and (min-width: 768px){
    .mobile{
        display: none;
    }
    .daily-vid iframe{
        width: 560px; 
        height: 315px;
    }
    .nav-wrapper{
        background: #fff;
        height: 10vh;
        grid-template-rows: 10vh;
        border: none;
    }
    .title{
        font-size: 3.5em;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2em 0 2em;
        padding: 1em;
    }
    .bg{
        background: linear-gradient(180deg, #ffab73, 10%, #fff);

    }
    .mantra-instructions{
        border-bottom: 1px solid lightgray;
        margin-bottom: 1em;
    }
    .title h2{
        color: #000;
        margin-bottom: 1em;
        border-bottom: 1px solid lightgray;
    }

    .title img{
        align-self: center;
        justify-self: center;
        box-shadow: 0px -10px 20px 10px #fff,
        0px 10px 20px #000;
    }
    
    .main-grid-box{
        display: grid;
        grid-template-columns: 1fr 4fr 4fr 1fr;
    
    }
    .logo{
        display: none;
    }
    .desk-logo{
        display: flex;
        align-self: center;
        grid-column: 2/3;
        font-size: 2em;
        color: #ffab73;
        font-weight: bold;
    }
    .newsletter{
        grid-column: 4/5;
        align-self: center;
        justify-self: right;
        font-size: 2em;
        color: #ffab73;

    }
    .newsletter:hover{
        cursor: pointer;
    }
    .news-popup{
        position: absolute;
        top: 50vh;
        left: 50vw;
        background: rgba(238, 238, 238, 0.63);
        width: 400px;
        height: 200px;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid #fff;
        transform: translateX(-50%) translateY(-50%);
    }
    .news-popup h3{
        background: #fff;
        padding: 1em;
        width: 80%;
        text-align: center;
    }
    .news-popup form{
        width: 80%;
    }
    .news-popup form input{
        border-radius: 12px;
        border: none;
        background: #fff;
        margin: .2em;

    }
    .hamburger{
        display: none;
    }
    .desk-nav{
        /* display: none; */
        display: flex;
        align-items: center;
        grid-column: 3/4;
    }
    .desk-nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 5vh;
        /* border-top: 1px solid black; */
        /* border-bottom: 1px solid black; */
        width: 100%;
    }
    .desk-nav ul li{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        list-style: none;
        height: 100%;
        background: #fff;
        margin: .5em;
        /* width: 100%; */
    }
    .desk-nav ul li a{
        text-decoration: none;
        color: #000;
    }
    .desk-nav ul li:hover{
        background: #bbb;
    }
    .mod{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        font-size: 1.5em;
    }
    .mod em{
        margin: 1em;
    }
    .mod i{
        position: relative;
        font-family: serif;
    }
    .mod i::before,
    .mod i::after{
        content: ' " ';
        font-size: 3em;
        position: absolute;
        margin: 0;
        padding: 0;
        color: #FFAB73;
    }
    .mod i::before{
        top: -30px;
        right: -30px;
    }
    .mod i::after{
        top: -30px;
        left: -30px;
    }
    .card-grid{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .card-content{
        border-bottom: 1px solid #bbb;
        display: flex;
        flex-direction: column;
    }
    .latest{
        justify-self: center;
        text-align: center;
        display: flex;
        justify-content: center;
        border: none;
        
    }
    .latest h3{
        color: #67A0A3;
        font-size: .65em;
    }
    .card-content h3{
        color: #333;
        font-size: .65em;
        padding-bottom: .14em;
        margin-top: .55em;
        margin-bottom: .55em;
        text-decoration: underline;
        text-decoration-color: #67A0A3;
    }
    .latest p,
    .card-content p{
        line-height: 1.6em;
        margin-bottom: .75em;
    }
    .card{
        background: #fff;
        border: 1px solid black;
        border-radius: 12px;
        padding: 1em;
    }
    .card-grid form{
        grid-column: 1/2;
    }
    .articles{
        grid-column: 2/3;
        margin: 1em;
    }
    .articles .card img{
        width: 70%;
    }
    .articles .card a{
        text-decoration: none;
        color: #000;
    }
    .articles .card a:hover{
        cursor: pointer;
    }
    .color{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .daily-mantra{
        background: rgba(221, 221, 221, 0.267);
        height: auto;
        border-radius: 12px;
        width: auto;
        font-size: .5em;
        padding: .5em;
    }
    
    #code-submit,
    #color-mantra-btn{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: none;
        margin: 1em;
        background: radial-gradient(#555,  #ddd);
        box-shadow: -5px -5px 30px #fff, 5px 5px 30px #000;

    }
    #code-submit:hover,
    #color-mantra-btn:hover{
        cursor: pointer;
    }
    .foot1{
        flex-direction: row;
    }
    .foot1 img{
        width: 10%;
    }
    
}