*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Marmelad', sans-serif;
}
.nav-wrapper{
    position: relative;
    height: 15vh;
    background: #fff;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 9fr;
}
.logo{
    justify-self: center;
    align-self: center;
    margin: 1em;
}
.hamburger{
    position: relative;
    width: 30%;
    height: 7px;
    background: #000;
    justify-self: flex-end;
    align-self: center;
    margin: 1em;
}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background: #000;
}
.hamburger::before{
    transform: translateY(-15px);
}
.hamburger::after{
    transform: translateY(15px);
}
.nav-wrapper > nav > ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper > nav ul a{
    color: #000;
    font-size: 1.5em;
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    position: absolute;
    width: 100%;
    height: 50vh;
    display: none;
    top: 15vh;
    opacity: 0;
    transition: opacity .5s;
}
#exercises{
    background: #A38068;
}
#teas{
    background: #FFAB73;
}
#meditation{
    background: #F09355;
}
#rituals{
    background: #67A0A3;
}
main{
    margin: 1em;
}
.offerings{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6EDED;
}
.offerings:hover,
.offerings:focus,
.offerings:active{
    cursor: pointer;
}
.main-grid{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    background: #E6EDED;
    margin: 1em 0;
}
.main-grid a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
    text-decoration: none;
    color: #F09355;
}
.main-grid img{
    max-width: 100%;
    /* width: 30%; */
}
.hr1{
    height: 5px;
    background: #FFAB73;
    border: none;
}
.hr2{
    height: 10px;
    background: #F09355;
    border: none;
}
.hr3{
    height: 15px;
    background: #A38068;
    border: none;
    border-radius: 12px 12px 0 0;

}
.hr4{
    height: 15px;
    background: #A38068;
    border: none;
    border-radius: 0 0 12px 12px;

}

.title > h2{
    display: flex;
    justify-content: center;
    align-content: center;
    color: #A38068;
}
.heal-btn{
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heal-btn > a{
    font-family: 'Allerta Stencil', sans-serif;
    background: #67A0A3;
    color: #E6EDED;
    padding: 1em;
    border-radius: 10px;
    text-decoration: none;
}
.daily{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}
.daily h2{
    position: absolute;
    top: 0;
}
.daily img{
    max-width: 100%;
    object-fit: contain;

}
.daily-color{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em;
    background: #FFAB73;
    border-radius: 12px;
    padding: 1em;
}
form{
    display: grid;
    grid-template-columns: 1fr;

}
.daily-color form input{
    justify-self: center;
    align-self: center;
    width: 50%;
}
.daily-color form #button{
    margin-top: 1em;
    width: 51%;
    justify-self: center;
    align-self: center;
    border: none;
    background: #67A0A3;
    border-radius: 0 0 12px 12px;
    box-shadow: -7px -7px 25px 0 #fff, 7px 7px 25px 0 #000;
}
.color{
    border: 1px solid black;
    border-radius: 12px;
    background: transparent;
    width: 100%;
    height: 40vh;
    margin-bottom: 1em;
    box-shadow: inset 7px 7px 15px #fff, inset -7px -7px 15px #000;
}
.daily-mantra{
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 15px 1px #fff;
}
.mantra form #email-submit,
.mantra form #code-submit{
    margin: 1em 0;
    width: 51%;
    justify-self: center;
    align-self: center;
    border: none;
    background: #67A0A3;
    border-radius: 0 0 12px 12px;
    box-shadow: -7px -7px 25px 0 #fff, 7px 7px 25px 0 #000;
}
.mantra p{
    justify-self: center;
}
.message{
    color: #A38068;
}